.git/
.idea/
*.pyc

__pycache__

data/blender_scene/images_original/
data/blender_scene/images/
data/blender_scene/colmap_text_original/

outputs/

.venv/
colmap

*.json
.vscode/
*.npz
colmap*

data/real_scene
data/test_scene