absl-py==2.3.0
alabaster==1.0.0
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
app-model==0.3.1
appdirs==1.4.4
asttokens==3.0.0
attrs==25.3.0
av==14.3.0
babel==2.17.0
bermuda==0.1.4
blinker==1.9.0
build==1.2.2.post1
cachey==0.2.1
certifi==2025.4.26
charset-normalizer==3.4.1
click==8.1.8
cloudpickle==3.1.1
colorama==0.4.6
comm==0.2.2
ConfigArgParse==1.7.1
contourpy==1.3.1
crc32c==2.7.1
cycler==0.12.1
dash==3.0.4
dask==2025.4.1
debugpy==1.8.13
decorator==5.2.1
docstring_parser==0.16
docutils==0.21.2
donfig==0.8.1.post1
executing==2.2.0
fastjsonschema==2.21.1
filelock==3.13.1
Flask==3.0.3
flexcache==0.3
flexparser==0.4
fonttools==4.56.0
fpdf==1.7.2
freetype-py==2.5.1
fsspec==2024.6.1
grpcio==1.71.0
HeapDict==1.0.1
hsluv==5.0.4
idna==3.10
imageio==2.37.0
imageio-ffmpeg==0.6.0
imagesize==1.4.1
importlib_metadata==8.6.1
in-n-out==0.2.1
ipykernel==6.29.5
ipython==9.0.2
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.7
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.4
joblib==1.5.1
jsonschema==4.23.0
jsonschema-specifications==2025.4.1
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyterlab_widgets==3.0.15
kiwisolver==1.4.8
lazy_loader==0.4
llvmlite==0.44.0
locket==1.0.0
magicgui==0.10.0
Markdown==3.8
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.10.1
matplotlib-inline==0.1.7
mdurl==0.1.2
mpmath==1.3.0
napari==0.6.1
napari-console==0.1.3
napari-plugin-engine==0.2.0
napari-plugin-manager==0.1.5
napari-svg==0.2.1
narwhals==1.42.0
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.3
npe2==0.7.8
numba==0.61.2
numcodecs==0.16.0
numpy==2.2.4
numpydoc==1.8.0
omegaconf==2.3.0
open3d==0.19.0
opencv-python==4.11.0.86
packaging==24.2
pandas==2.2.3
parso==0.8.4
partd==1.4.2
PartSegCore_compiled_backend==0.15.12
pillow==11.1.0
Pint==0.24.4
platformdirs==4.3.6
plotly==6.1.2
pooch==1.8.2
prompt_toolkit==3.0.50
protobuf==6.31.0
psutil==7.0.0
psygnal==0.12.0
pure_eval==0.2.3
pyconify==0.2.1
pydantic==2.11.3
pydantic-compat==0.1.2
pydantic_core==2.33.1
Pygments==2.19.1
PyMCubes==0.1.6
PyOpenGL==3.1.9
pyparsing==3.2.1
pyproject_hooks==1.2.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.17.0
python-dateutil==2.9.0.post0
pytz==2025.2
pyvista==0.45.2
pywin32==310
PyYAML==6.0.2
pyzmq==26.3.0
qtconsole==5.6.1
QtPy==2.4.3
referencing==0.36.2
requests==2.32.3
retrying==1.3.4
rich==14.0.0
roman-numerals-py==3.1.0
rpds-py==0.24.0
scikit-image==0.25.2
scikit-learn==1.7.0
scipy==1.15.2
scooby==0.10.1
shellingham==1.5.4
six==1.17.0
snowballstemmer==2.2.0
Sphinx==8.2.3
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
stack-data==0.6.3
superqt==0.7.3
sympy==1.13.1
tabulate==0.9.0
tensorboard==2.19.0
tensorboard-data-server==0.7.2
threadpoolctl==3.6.0
tifffile==2025.3.30
tomli_w==1.2.0
toolz==1.0.0
--extra-index-url https://download.pytorch.org/whl/cu126
torch==2.6.0+cu126
torchaudio==2.6.0+cu126
torchvision==0.21.0+cu126
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
triangle==20250106
trimesh==4.6.10
typer==0.15.2
typing-inspection==0.4.0
typing_extensions==4.12.2
tzdata==2025.2
urllib3==2.4.0
vispy==0.15.0
vtk==9.4.2
wcwidth==0.2.13
Werkzeug==3.0.6
widgetsnbextension==4.0.14
wrapt==1.17.2
zarr==3.0.7
zipp==3.21.0
